*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #394bcd, #75c3e1);
}

.heading {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: minmax(auto, 4fr) 2fr;
  border-radius: 130px;
  margin: 3% 24%;
  gap: 5px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 30px;
  border: 5px solid rgb(32, 107, 135);
  background-color: rgba(196, 242, 252, 0.75);
  border-radius: 8px;
  margin: 1px;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(213, 234, 250, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(5, 25, 75, 0.5);
  border: 5px solid rgb(32, 107, 135);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 20px;
  margin: 5px;
}

.output .previous-operand {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.output .current-operand {
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
